body {
  padding: 0;
  background: solid;
  margin: 0;
}
.container-1 {
  background-color: #171c5d;

  margin: 0;

}

.container-1b {
  display: flex;

flex-wrap: wrap-reverse;
  padding: 0 20px;
  margin: auto;
  justify-content: center;
 
  
}

.column-1 {
  display: flex;
  justify-content: center;
  
  flex-direction: column;
}

h1 {
  font-size: 83px;
  line-height: 79px;
  color: #fff;
  letter-spacing: 0;
  margin: 0;
max-width: 674px;
  font-weight: 400;
}

p {
  font-size: 24px;
  line-height: 33px;
  color: #6c72ae;
  letter-spacing: 0;
 max-width: 568px;
  margin: 0 0 33px;
}
.block-a {
    text-align: center;
}
.get-started {
  display: inline-block;
  font-family: "Mabry Pro", Arial, sans-serif;
  font-size: 27px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  background: #ff7e85;
  border-radius: 3px;
  padding: 18px 48px 14px;
  font-weight: 500;
  margin-bottom: 8px;

}
.img-1 {
    display: flex;
    justify-content: center;
    width: 480px;
    height: auto;
}
/* .container-1 {
  background-color: #171c5d;

  margin: 0;

}

.container-1b {
  display: flex;
flex-wrap: wrap-reverse;
  padding: 0 20px;
  margin: auto;
 
  
}
.column-1 {
  display: flex;
  justify-content: center;
  
  flex-direction: column;
}

h1 {
  font-size: 83px;
  line-height: 79px;
  color: #fff;
  letter-spacing: 0;
  margin: 0;
  max-width: 674px;
  font-weight: 400;
}

p {
  font-size: 24px;
  line-height: 33px;
  color: #6c72ae;
  letter-spacing: 0;
  max-width: 568px;
  margin: 0 0 33px;
}

.get-started {
  display: inline-block;
  font-family: "Mabry Pro", Arial, sans-serif;
  font-size: 27px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  background: #ff7e85;
  border-radius: 3px;
  padding: 18px 48px 14px;
  font-weight: 500;
} */

.container-b {
  background-color: #f3eae5;
  position: relative;
  width: 100%;
}

.container-2 {
  padding: 0 20px;
  margin: 0 31.667px;
}

.container-2-1 {
  max-width: 850px;
  padding: 99px 0 0;
  margin: 0;
}

.container-2a {
  font-size: 43px;
  letter-spacing: 1;
  line-height: 44px;
  font-weight: 400;
  color: #0e1889;
  padding: 0 0 20px;
  margin: 0 0 42px;
  text-align: center;
}

.container-2-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 140px;
  letter-spacing: 1px;
  align-items: center;
}

.block-2a {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #3e3c43;
  letter-spacing: 0;
  margin: 0 0 5px;
}

/* .block-2-2 {
  padding: 0 55px;
} */

.container-2-2-h3 {
  font-size: 18px;
  line-height: 24px;
  color: #3e3c43;
  margin: 0 0 5px;
}

span {
  color: #dd59cf;
}

.container-3 {
  max-width: 1200px;
}

.container-3-2-1 {
  padding-left: 74px;
  display: flex;
flex-wrap: wrap;

  align-items: center;
  margin-bottom: 48px;
  justify-content: center;
}
/* .container-3-1 {
  display: flex;
  justify-content: center;
} */
.container-3-2-2 {
  padding-right: 74px;
  display: flex;
 flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}

.container-3-a {
  font-size: 56px;
  line-height: 52px;
  font-weight: 400;
  color: #0e1889;
  letter-spacing: 0;
  max-width: 590px;
  margin: 0 0 17px;
  text-align: center;
}

.container-3-b {
  font-size: 20px;
  line-height: 28px;
  color: #3e3c43;
  letter-spacing: 0;
  max-width: 590px;
  text-align: center;
}
#container-4 {
  text-align: center;
  max-width: 100%;
}

.container-5 {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
  align-items: center;
  
}

.container-5-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  
}

.container-5-a {
  margin-right: 40px;
  background: #ffb283;
  height: 552px;
  border-radius: 15px;
}
.container-5-b {
  background: #206871;

    height: 552px;
    border-radius: 15px;
}
.container-5-1-a {
  font-size: 52px;
  line-height: 55px;
  color: #206871;
  padding: 35px 35px 50px;
}
.container-5-1-b {
  font-size: 26px;
    line-height: 33px;
    color: #fff;
      padding: 33px 32px 41px 38px;
}
.container-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.container-6-1 {
  display: flex;

  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  padding: 27px 28px 10px;
  margin-bottom: 30px;;
  
}
/* .container-6-2{
  margin-left: 55px;
  margin-right: 55px;
} */
.container6-img {
  height: 241px;
    margin: 37px auto 33px
}
.container6-para {
  font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #7a7780;
}
.container7 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 43px;
    letter-spacing: 0;
    line-height: 44px;
    font-weight: 400;
    color: #0e1889;
    max-width: 755px;
    text-align: center;

}
.container8{
  display: flex;
  flex-wrap: wrap-reverse;
  position: relative;
    background: #ffd02d;
    border-radius: 4px;
    padding: 49px 46px 46px 46px;
    justify-content: center;
    bottom: -60px;
}
.container8-1-1{
  font-weight: 500;
    font-size: 69px;
    line-height: 64px;
    color: #ff7399;
    letter-spacing: 0;
    margin: 0 0 61px;
    z-index: 1;
    max-width: 650px;
    
}
.container8-1-2 {
  
}
.container8-img {
  width: 350px;
}
.footer{
background-color:  #000647;
padding: 210px 0 133px;
}
.footer-1 {
  display: flex;
  flex-wrap: wrap;

}
.footer-1-1{
  width: 344px;
  font-size: 15px;
    line-height: 16px;
    color: #7c80ad;
    text-align: center;
    margin-bottom: 40px;
}
.footer-1-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 180px;
}
.footer-text {
  margin: 0 0 17px;
  font-family: "Mabry Pro",Arial,sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #7c80ad;
    text-decoration: none;
}
/* .nav {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-bar-1 {
  color: #fff;
  margin: 0 33px 0 0;
  font-family: "Mabry Pro",Arial,sans-serif;
    font-size: 17px;
}
.nav-bar-btn {

font-size: 19px;
color: #060e60;
position: relative;
text-align: center;
padding: 9px 24px 8px;
background: #f6c8f1;
border-radius: 3px;
text-decoration: none;
bottom: 7px;
}
.logo {
  color: #fff;
  font-size: 23px;
position: relative;
bottom: 6px;
} */
@media (max-width: 1194px){
  .container-2-2 {
    flex-direction: column;
  }
  .container-5 {
    flex-direction: column;
  }
   .container-6 {
    flex-direction: column;}
    .container-3-2-1 {
      padding-left: 0;
    }
}
